<h2>Real Time TicTacToe</h2>
<address>
    <strong>Version: </strong>1.0<br />
    <strong>Support:</strong> <a href="mailto:leaopereira@gmail.com">leaopereira@gmail.com</a><br />
    <strong>Github:</strong> <a href="http://github.com/zleao" target="_blank">http://github.com/zleao</a>
</address>

