<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4a3c52d2-e43a-45f7-8670-060d14ef8b8a/resourcegroups/RTTicTacToeResourceGroup/providers/Microsoft.Web/sites/RTTicTacToe</ResourceId>
    <ResourceGroup>RTTicTacToeResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/4a3c52d2-e43a-45f7-8670-060d14ef8b8a/resourceGroups/RTTicTacToeResourceGroup/providers/Microsoft.ApiManagement/service/RTTicTacToeApiManagement/apis/RTTicTacToeWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rttictactoe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d0820b4f-32ca-4983-9700-170f0223169b</ProjectGuid>
    <MSDeployServiceURL>rttictactoe.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RTTicTacToe</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RTTicTacToe</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>